<div class="bg-dark p-5 text-light text-center">
  <div class="container">
    <h1>Todos List</h1>
    <div class="row mt-5">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Course Name"
          name="todoName"
          [(ngModel)]="inputValue"
        />
      </div>
      <div class="col-4">
        <button (click)="addNewList()" class="btn btn-outline-warning">
          +
        </button>
      </div>
    </div>
    <div *ngFor="let todo of todosList; let i = index" class="row mt-3">
      <div class="col-8">
        <p class="bg-secondary p-2 rounded">{{ todo }} Course</p>
      </div>
      <div class="col-4">
        <button class="btn btn-outline-danger" (click)="remove(i)">-</button>
      </div>
    </div>
  </div>
</div>
