<!-- <app-login
  [myFlag]="flag"
  [loginData]="parentData"
  [list]="products"
></app-login>
<h1>Hello</h1>
<app-login [myFlag]="true"></app-login> -->

<!-- <h3 class="bg-warning p-4">{{ parentData }}</h3> -->
<!-- <app-content></app-content> -->
<!-- 
<app-content (myEvent)="getData($event)"></app-content>

<h3>Data : {{ dataFromContent }}</h3> -->
<app-test> </app-test>
<app-test>
  <button class="btn btn-success">Show More</button>
</app-test>
<app-test>
  <button class="btn btn-danger">Show More</button>
  <p class="bg-light p-3 text-dark rounded mt-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga perspiciatis
    sapiente sunt veniam harum deserunt totam dicta eius, corrupti minus, soluta
    ipsa laborum officiis fugiat aut quisquam illo et ipsam.
  </p>
</app-test>
